<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>this is the home page</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/create">create</a></li>
    </ul>
    <% blogs.forEach((blog)=>{ %>
        <h1><%= blog.title%></h1>
        <p><%= blog.body%></p>
        <%}) %>
</body>
</html>